// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$light-grey-text: #4a5568;
$primary: #5a67d8;
$primary-invert: findColorInvert($primary);
$blue: #0495fe;
$blue-inverted: findColorInvert($blue);
$green: #2fba69;
$green-inverted: findColorInvert($green);
$green-test: findLightColor($green);
$red: #e54e57;
$red-inverted: findColorInvert($red);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "blue": ($blue, $blue-invert),
    "green": ($green, $green-invert),
    "red": ($red, $red-invert),
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

body {
	color: $light-grey-text;
	background-color:#f8f8f8;
}
.subtitle {
	color: $light-grey-text!important;
}
.title {
	font-weight: 900!important;
	color: $light-grey-text!important;
}

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";